<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>RESUME - devYusuf</title>
    <meta name="author" content="Fly Nerd" />
    <link rel="icon" href="./img/favicon.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <div>
        <img src="./img/avatar.jpg" />
      </div>
      <br /><br />
      <h1>Adedeji Yusuf Yinka</h1>
      <section>
        <p>
          Hello! I am Adedeji Yusuf. I work as Full stack developer. I'm
          focused, dedicated and willing to learn in a changing and challenging
          environment.
        </p>

        <a href="https://www.twitter.com/AdedejiYusufYi1" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/hadedeji10k" target="_blank">
          <i class="fab fa-github-alt"></i>
        </a>
        <a href="https://www.instagram.com/adedeji.yusuf.26/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/adedeji-yusuf-9762151bb/"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </section>
    </header>
    <main>
      <!-- SKILLS TAB -->
      <section>
        <h3>Skills</h3>
        <div class="skills">
          <div class="column">
            <h4>Good knowledge</h4>
            <ul>
              <li>HTML5</li>
              <li>CSS</li>
              <li>JavaScript ES5/6</li>
              <li>NodeJS</li>
              <li>ExpressJS</li>
              <li>MongoDB</li>
            </ul>
          </div>

          <div class="column">
            <h4>Intermidiary knowledge</h4>
            <ul>
              <li>ReactJS</li>
              <li>jQuery</li>
            </ul>
          </div>

          <div class="column">
            <h4>Basic knowledge</h4>
            <ul>
              <li>PHP</li>
              <li>MySQL</li>
            </ul>
          </div>

          <div class="column">
            <h4>Languages</h4>
            <ul>
              <li>Yoruba - Native speaker</li>
              <li>English - Proficient</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- EDUCATION TAB -->
      <section>
        <h3>Education</h3>
        <article>
          <div class="school">
            <span>2019 - Ongoing</span> &nbsp; &nbsp; &nbsp;
            <strong>University of Maiduguri</strong>
          </div>
          <div class="description">Course: B.Eng. Computer Engineering</div>
        </article>
        <br />
        <article>
          <div class="school">
            <span>2013 - 2018</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>God's Vision Model College</strong>
          </div>
          <div class="description">College certificate (SSCE)</div>
        </article>
      </section>

      <!-- EXPERIENCE TAB -->
      <section>
        <h3>Experience</h3>
        <article>
          <div class="job-title">
            <span>07.2021 - 10.2021</span> <strong>HNG (ZURI) INTERNSHIP</strong
            ><br />
            <strong>Position:</strong> Back-End Web developer Intern
          </div>
          <div>
            <p><strong>Tech stack:</strong>NodeJS / ExpressJS / MongoDB</p>
            <ul class="job-description">
              <li>Develop web application as project</li>
              <li>
                Implement UI (front-end site) based on received graphic design
                and requirements
              </li>
              <li>Co-operate with the front-end team</li>
            </ul>
          </div>
        </article>
        <br />
        <article>
          <div class="job-title">
            <span>02.2021 - 07.2021</span> <strong>ZURI INTERNSHIP </strong
            ><br />
            <strong>Position:</strong>Back-End Web developer Intern
          </div>
          <div>
            <p>
              <strong>Tech stack:</strong>NodeJS / ExpressJS / MongoDB / Little
              of ReactJS
            </p>
            <ul class="job-description">
              <li>Developed web application as project</li>
              <li>
                Implement UI (front-end site) based on received graphic design
                and requirements
              </li>
              <li>Co-operate with the front-end team</li>
            </ul>
          </div>
        </article>
        <br />
        <article>
          <div class="job-title">
            <span>01.2020 - 06.2020</span> <strong>SIDE HUSTLE </strong><br />
            <strong>Position:</strong> Front-End Web developer Intern
          </div>
          <div>
            <p><strong>Tech stack:</strong> HTML5 / CSS / JavaScript / PHP</p>
            <ul class="job-description">
              <li>Developed web application as project</li>
              <li>
                Implement UI (front-end site) based on received graphic design
                and requirements
              </li>
              <li>Co-operate with the back-end team</li>
            </ul>
          </div>
        </article>
      </section>

      <section>
        <h3>PROFESSIONAL SKILLS</h3>
        <article>
          <div>
            <ul class="job-description">
              <li>
                Outstanding analytical, problem‐solving, and troubleshooting
                ability.
              </li>
              <li>
                Implement UI (front-end site) based on received graphic design
                and requirements
              </li>
              <li>Co-operate with the front-end team</li>
              <li>Ability to grasp technical concepts quickly and easily.</li>
              <li>
                Committed to professional development, willing, and able to
                complete special training as required.
              </li>
              <li>
                Strong understanding of project lifecycle, including all phases
                of system and software development.
              </li>
              <li>
                Qualified to diagnose and correct equipment malfunctions and
                software glitches to ensure that they do not hinder project
                deadlines.
              </li>
              <li>
                Consistently recognized for technical troubleshooting skills
                used to rapidly and cost-effectively resolve challenging
                technical issues.
              </li>
              <li>
                Unique competency in translating business issues into network
                solutions, including opportunity identification, requirements
                development, delivery, support, and analysis.
              </li>
              <li>
                Quickly learn and master new technology; equally successful in
                both team and self-directed settings; and proficient in a range
                of computer systems, languages, tools, and testing
                methodologies.
              </li>
              <li>
                Attention to detail by being thorough when reviewing and
                analyzing reports and program policy and procedures manual.
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>

    <main>
      <h1 class="center">CONTACT FORM</h1>
      <form method="POST" action="/contact-form">
        <div class="row">
          <div class="form-group col">
            <label>Email address:</label>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group col">
            <label>Name:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Enter your name"
            />
          </div>
        </div>
        <div class="form-group">
          <label>Your message</label>
          <textarea
            style="resize: none"
            name="message"
            class="form-control"
            rows="3"
            placeholder="Your message here"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br /><br /><br />
    </main>

    <footer>
      <p>Created by: devYusuf - Copyright @ 2021</p>
    </footer>
  </body>
</html>
